.resultsContainer {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2em;
  }
  
  .resultsTitle {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .resultsText {
    margin: 10px 0;
  }
  
  .restartButton {
    font-size: 1em;
    padding: 15px;
    margin: 20px;
    cursor: pointer;
    border: none;
    border-radius: 20%;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .restartButton:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  